In [79]:
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import json

In [33]:
# read in data
path ='Merged file.xlsx'
ib = pd.read_excel(path,index_col=None)

In [34]:
ib.head()

,Ibanị,PoS,Gloss,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,"A,",a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a,pron.,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,á,pron.,"she,",her,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,áa,excl.,exclamation,of,desire,or,surprise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aba,1,n.,forked,stick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
ib.tail()

,Ibanị,PoS,Gloss,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
3768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3772,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# rename columns
ib.rename(columns = {'Ibanị':'Ibani','PoS':'Pos'}, inplace = True)

In [37]:
ib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3773 entries, 0 to 3772
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ibani        3258 non-null   object
 1   Pos          3073 non-null   object
 2   Gloss        3015 non-null   object
 3   Unnamed: 3   2034 non-null   object
 4   Unnamed: 4   1400 non-null   object
 5   Unnamed: 5   978 non-null    object
 6   Unnamed: 6   677 non-null    object
 7   Unnamed: 7   478 non-null    object
 8   Unnamed: 8   333 non-null    object
 9   Unnamed: 9   214 non-null    object
 10  Unnamed: 10  169 non-null    object
 11  Unnamed: 11  124 non-null    object
 12  Unnamed: 12  93 non-null     object
 13  Unnamed: 13  67 non-null     object
 14  Unnamed: 14  47 non-null     object
 15  Unnamed: 15  29 non-null     object
 16  Unnamed: 16  19 non-null     object
 17  Unnamed: 17  6 non-null      object
 18  Unnamed: 18  3 non-null      object
dtypes: object(19)
memory usage: 560.2+ KB

In [38]:
# check for null 
ib.isnull().sum()

Ibani           515
Pos             700
Gloss           758
Unnamed: 3     1739
Unnamed: 4     2373
Unnamed: 5     2795
Unnamed: 6     3096
Unnamed: 7     3295
Unnamed: 8     3440
Unnamed: 9     3559
Unnamed: 10    3604
Unnamed: 11    3649
Unnamed: 12    3680
Unnamed: 13    3706
Unnamed: 14    3726
Unnamed: 15    3744
Unnamed: 16    3754
Unnamed: 17    3767
Unnamed: 18    3770
dtype: int64

In [39]:
# drop null rows in Ibani column
ib.dropna(subset=['Ibani'],inplace = True)

In [40]:
# remove rows with numeric value in Ibani
ib = ib[ib['Ibani'].apply(lambda x: str(x).isalpha())]

In [41]:
ib.head()

,Ibani,Pos,Gloss,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
1,a,pron.,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,á,pron.,"she,",her,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,áa,excl.,exclamation,of,desire,or,surprise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aba,1,n.,forked,stick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,aba,2,n.,hammer-headed,shark,(Sphyrna,spp.,SPHYRNIDAE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# columns in pos with number
ib[ib['Pos'].apply(lambda x: str(x).isnumeric())]

,Ibani,Pos,Gloss,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
4,aba,1,n.,forked,stick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,aba,2,n.,hammer-headed,shark,(Sphyrna,spp.,SPHYRNIDAE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,ágbā,1,v.,call,at;,pay,a,casual,visit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,ágbā,2,n.,bank,of,a,river,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,ágbā,3,n.,paint,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,sií,2,v.t.,wipe;,remove,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3442,sombí,1,v.,press,a,person,under,water,so,as,to,drown,them,NaN,NaN,NaN,NaN,NaN,NaN
3444,sombí,2,v.,squat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3590,timí,1,v.,beat,(as,pepper);,pound,(in,mortar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3591,timí,2,v.,bask,(in,sun,or,by,fire),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# check for null in Pos column
ib[ib['Pos'].isnull()]

,Ibani,Pos,Gloss,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
67,person,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,wárị,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,nyẹ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,má,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,bunábolu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,á,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,gentlemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1201,yá,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1382,BURSERACEAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1413,fúrōákpáa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1671,ikpikpí,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1715,mgbamgbámgba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1879,pighima,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894,marriage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,íbíámienyẹ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2124,thing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2278,láābírí,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2498,forty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2814,Éne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2877,ólóńdō,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2899,ólóghófidö,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3548,ólogho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# check for null in Gloss column
ib[ib['Pos'].isnull()]

,Ibani,Pos,Gloss,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
67,person,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,wárị,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,nyẹ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,má,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,bunábolu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,á,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,gentlemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1201,yá,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1382,BURSERACEAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1413,fúrōákpáa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1671,ikpikpí,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1715,mgbamgbámgba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1879,pighima,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894,marriage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,íbíámienyẹ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2124,thing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2278,láābírí,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2498,forty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2814,Éne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2877,ólóńdō,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2899,ólóghófidö,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3548,ólogho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# replace null rows in Pos column
ib['Pos'] = ib['Pos'].fillna('nill')
# replace null rows in Gloss column
ib['Gloss'] = ib['Gloss'].fillna('nill')

In [46]:
# replace pos rows with numbers with values in Gloss 
ib.Pos[ib['Pos'].apply(lambda x: str(x).isnumeric())] = ib.Gloss

In [47]:
ib.head()

,Ibani,Pos,Gloss,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
1,a,pron.,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,á,pron.,"she,",her,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,áa,excl.,exclamation,of,desire,or,surprise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aba,n.,n.,forked,stick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,aba,n.,n.,hammer-headed,shark,(Sphyrna,spp.,SPHYRNIDAE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# fill null values in Ibani dataframe 
ib = ib.fillna('')

In [49]:
# combine unnamed columns
ib['Combined'] = ib.loc[:,ib.columns.str.startswith('Unnamed:')].apply(lambda x:' '.join(x.values.astype(str)), axis = 1)

In [50]:
ib.head()

,Ibani,Pos,Gloss,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Combined
1,a,pron.,I,,,,,,,,,,,,,,,,,
2,á,pron.,"she,",her,,,,,,,,,,,,,,,,her
3,áa,excl.,exclamation,of,desire,or,surprise,,,,,,,,,,,,,of desire or surprise
4,aba,n.,n.,forked,stick,,,,,,,,,,,,,,,forked stick
5,aba,n.,n.,hammer-headed,shark,(Sphyrna,spp.,SPHYRNIDAE),,,,,,,,,,,,hammer-headed shark (Sphyrna spp. SPHYRNIDAE) ...

In [51]:
# replace part of speech values found in gloss column
ib['Gloss'] = ib['Gloss'].replace(to_replace=r'^\w*\W$', value='', regex=True)

In [52]:
# combine gloss and combined column
ib["Glossary"] = ib["Gloss"] +" "+ ib["Combined"]

In [53]:
ib_clean = ib[['Ibani','Pos','Glossary']]
ib_clean

         Ibani    Pos                                           Glossary
1            a  pron.                                  I
2            á  pron.                                 her
3           áa  excl.      exclamation of desire or surprise
4          aba     n.                         forked stick
5          aba     n.   hammer-headed shark (Sphyrna spp. SPHYRNIDAE)...
...        ...    ...                                                ...
3758    yafúro     n.                 relatives of the wife
3762    yáwúma     v.                  cause to keep silent
3763       yéi  excl.  an exclamation of fear, pain, wonder, etc.    ...
3764       yií   v.t.                      bear; give birth
3765  yóríyórí   v.a.                     clean (of liquid)

[1356 rows x 3 columns]

In [54]:
ib['Pos'].unique()

array(['pron.', 'excl.', 'n.', 'bíē', 'Heron', 'a.', 'canoe.', 'mié',
       'v.', 'nill', 'koó\uf023', '(=íliláa)', 'kúu', '9l9', 'dá',
       'dú\uf024á', 'é\uf029ré\uf029', 'é\uf029ré\uf029má', 'fó\uf023nyá',
       'gbó\uf023ry', 'tá', '(=ambilé)', '(=ání\uf02cná)', 'dem.', 'the',
       'gósị', 'adv.', 'n.pl.', 'fií', 'small,', 'see', '(=alịlá)',
       'CAPRIMULGIDAE)', '(=áchịlá)', 'num.', 'b\uf028ārámá',
       'b\uf028ē\uf029lé\uf029má', 'dīmá', 'fō\uf025', 'fū\uf026rú\uf024',
       'íkīrímá', 'kōrómá', 'lō\uf025ó\uf023má', 'mé\uf029mé\uf029',
       'ób\uf028ū', 'ó\uf023kō\uf025', 'ó\uf023lō\uf025', 'pịghí\uf02c',
       'sií', 'sīmá', 'v.cs.', 'fill', 'nụnú\uf024', 'dii', 'éne',
       'ikíb\uf028a', 'not', 'b\uf028árásī', 'dighí', 'dughó', 'duo',
       'ákí\uf02c', 'súú', 'paghá', 'págháma', 'b\uf028álolo', 'déde',
       'fú\uf024fụ', 'ịnyó\uf023ọ', 'ịrịá', 'lólia', 'ná', 'pághámaá',
       'súā', 'intro.', 'v.t.', 'pịrí\uf02c', 'álí\uf02cmaá', 'b\uf028á',
       'símaá', 'tó\uf023rú\uf024sī', 'túmaá', 'be', 'fí\uf02cnịí\uf02c',
       'kúkúbie', 'sịị', 'gí\uf02cé\uf029', 'v.reci', 'findí/finjí',
       'v.p.', 'pálī\uf02c', 'pé\uf029lé\uf029', 'pí\uf02cghī\uf02c',
       'pú\uf024nú\uf024maá', 'sú\uf024ā', 'tó\uf023rụ', 'p.n.', 'sughu',
       'dipí', 'fọrụ', 'it', 'tí', 'dó\uf023ghú\uf024', 'yímá', 'na',
       'of', 'by', 'scent,', 'v.i.', 'bí\uf02crí\uf02cb\uf0289',
       'wárí\uf02c', 'daá', 'kú\uf024ró\uf023maáa', 'firimáa',
       'nwangí\uf02c', 'v./n.', 'eaten', 'súghu', '1779)', 'v.a.',
       'siím/símaám', 'dúmrt', 'fú\uf024b\uf028árá', 'kúkúbíé',
       'Té\uf029mé\uf029', 'saa', 'my', 'fí\uf02c', 'lá', 'kọó\uf023',
       'pẹlé\uf029', 'a./ad', 'mangí\uf02c', 'sú\uf024á',
       'é\uf029fé\uf029rẹ', '(Lam.)', '(Varanus', 'v.aux', 'si',
       'kó\uf023', 'show', 'énée', 'tigáa', 'ógbóo', 'pághára', 'sáa',
       'yó\uf023o', 'fịí\uf02c', 'gụá', 'ogbó', 'ịnyaa', 'awọmápụ',
       'é\uf029lẹlé\uf029ndẹ', 'mingi', 'ōwútú\uf024wọ', 'tụwọ', 'fēní',
       'ōrú', 'koró/sọó\uf023', '[cf.', 'b\uf028ó', 'complete;', 'n.p.',
       'truly', 'ibí', 'súó', 'ákī\uf02c', 'ńgọ', 'akī\uf02c', 'fina',
       'gbólóma', 'kírī', 'sí\uf02cbj', 'dẹrí\uf02c', 'akpa', 'to',
       'wárị', 'part.', 'neg.', 'quant', 'still', 'name', 'sụá', 'túmini',
       'bíma', 'b\uf028árá', 'dú\uf024b\uf028ámaá', 'fámaá', 'gbólómaá',
       'gánánámaá', 'ibímaá', 'írímaá', 'í\uf02cwó\uf023maá', 'kárámaá',
       'kú\uf024ró\uf023maá', '9kú\uf024', 'sáb\uf028ámaá', 'sólómaá',
       'té\uf029ghé\uf029rémaá', 'aká', 'biri', 'saná', 'sará',
       'áki\uf02c', 'sighimá', 'sághá', 'hundred', 'times;', 'used',
       'conj.', 'b\uf028ō', 'b\uf028óo', 'ójú', 'ósúka', 'té\uf029',
       'pp.', 'me', 'kú\uf024má', 'pí\uf02crí\uf02c', 'sí\uf02cghí\uf02c',
       'mámgba', 'but', 'só\uf023', 'yí', 'sị', 'fū\uf026', 'saá',
       'pú\uf024ghọ', 'sú', 'fē\uf029', 'fini', 'míné',
       'é\uf029gé\uf029re', 'míénye', 'nyé\uf029', 'dja',
       'Fé\uf029ní\uf02c', 'é\uf029fé\uf029re', 'ígbée', 'figúu',
       'nú\uf024nú\uf024ma', 'gbé\uf029', 'sé\uf029ghī', '(Lobotes',
       'ílíghíma', 'ámá', 'é\uf029lelé\uf029nde', 'ówú', 'npiri',
       'sí\uf02c', 'éné', 'a', 'fó\uf023ngú\uf024má', 'míé',
       'kpóróm\uf008gbo', 'word?]', 'mpára', 'sọó\uf023', 'pẹrẹ', 'ńdẹ',
       'tó\uf023ọ', 'ó\uf023rū\uf026b\uf028ó\uf023tú\uf024wọ', 'Wood',
       'fí\uf02csáni', 'fíni', 'opórópo', 'pótiri', 'sámú\uf024nó\uf023',
       'samá,', 'saghamá', 'dá\uf029rí\uf02cmaá', '1.conj.', '2.intro.',
       'fide', 'derí\uf02c', 'ówí', 'ọrú\uf024b\uf028ọ', 'gósi', 'léā',
       'ngáa,', 'nyé\uf029ẹ', 'yó\uf023ọ', 'b\uf028ará', 'pághá', 'fáma',
       'nángwó\uf023', 'pụnú\uf024', 'ákpáa', 'akpáa', 'gbory', 'numó'],
      dtype=object)

In [55]:
# check for invalid values in pos
ib_clean['Pos'][ib_clean['Pos'].str.match(r"^\w*\w$")==True]

10        bíē
25      Heron
60        mié
67       nill
123       kúu
        ...
3661      see
3676    akpáa
3699      see
3741    gbory
3744     numó
Name: Pos, Length: 205, dtype: object

In [56]:
# list of invalid values in Pos column
ib_clean['Pos'].loc[ib_clean['Pos'].str.match(r"^\w*\w$")==True].values.astype(str)

array(['bíē', 'Heron', 'mié', 'nill', 'kúu', '9l9', 'dá', 'nill', 'tá',
       'the', 'gósị', 'fií', 'see', 'dīmá', 'íkīrímá', 'kōrómá', 'sií',
       'sīmá', 'fill', 'dii', 'éne', 'not', 'nill', 'nill', 'nill',
       'dighí', 'dughó', 'duo', 'sií', 'súú', 'sií', 'paghá', 'págháma',
       'déde', 'ịrịá', 'lólia', 'ná', 'pághámaá', 'súā', 'see', 'págháma',
       'págháma', 'símaá', 'túmaá', 'be', 'kúkúbie', 'sịị', 'nill',
       'pághámaá', 'sií', 'símaá', 'sughu', 'dipí', 'fọrụ', 'it', 'tí',
       'yímá', 'na', 'of', 'by', 'nill', 'nill', 'daá', 'firimáa', 'nill',
       'nill', 'eaten', 'súghu', 'súú', 'see', 'see', 'dúmrt', 'kúkúbíé',
       'saa', 'my', 'lá', 'nill', 'see', 'nill', 'si', 'show', 'énée',
       'tigáa', 'ógbóo', 'pághára', 'sáa', 'gụá', 'ogbó', 'ịnyaa', 'nill',
       'nill', 'awọmápụ', 'bíē', 'mingi', 'saa', 'tụwọ', 'fēní', 'ōrú',
       'see', 'see', 'nill', 'truly', 'ibí', 'súó', 'ńgọ', 'fina',
       'gbólóma', 'nill', 'see', 'of', 'kírī', 'see', 'akpa', 'to',
       'wárị', 'nill', 'kúkúbie', 'quant', 'still', 'name', 'sụá',
       'túmini', 'bíma', 'fámaá', 'gbólómaá', 'gánánámaá', 'ibímaá',
       'írímaá', 'kárámaá', 'símaá', 'sólómaá', 'aká', 'biri', 'saná',
       'sará', 'sighimá', 'sághá', 'si', 'hundred', 'nill', 'used', 'ójú',
       'ósúka', 'me', 'mámgba', 'but', 'yí', 'sị', 'saá', 'sú', 'see',
       'see', 'fini', 'míné', 'míénye', 'dja', 'nill', 'ígbée', 'figúu',
       'lá', 'nill', 'wárị', 'be', 'na', 'see', 'nill', 'ílíghíma', 'see',
       'ámá', 'ówú', 'mingi', 'npiri', 'éné', 'éné', 'a', 'míé', 'mpára',
       'pẹrẹ', 'ńdẹ', 'to', 'Wood', 'see', 'see', 'fíni', 'opórópo',
       'pótiri', 'saghamá', 'mámgba', 'see', 'sú', 'fide', 'si', 'ówí',
       'nill', 'gósi', 'léā', 'sáa', 'pághá', 'fáma', 'ákpáa', 'see',
       'akpáa', 'see', 'gbory', 'numó'], dtype='<U9')

In [57]:
# view pos row with invalid value
ib_clean[ib_clean['Pos'] == '9l9']

    Ibani  Pos                           Glossary
125   ama  9l9  v.p. become engaged

In [58]:
# clean row with wrong pos
#ib_clean.Pos[ib_clean['Pos'] == '9l9'] = 'v.p'
ib_clean.loc[ib_clean.Pos == '9l9', 'Pos'] = 'v.p'

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [59]:
ib_clean.loc[ib_clean['Pos'].str.match(r"^\w*\w$")==True]

        Ibani    Pos                                           Glossary
10    Abalama    bíē   part of Abalama occupied by Longjohn’s family...
25    Goliath  Heron                               nill
60       agba    mié               v.p. (make a) sacrifice
67     person   nill                               nill
123       ama    kúu     v.p. become engaged? (cf. ama ól9)
...       ...    ...                                                ...
3661    túurú    see                            túghurú
3676     tụwọ  akpáa                                womb
3699    ụdẹlẹ    see                              ẹdẹlẹ
3741     wíki  gbory                         n.p. weekly
3744     wiri   numó                   n.p. abusive songs

[204 rows x 3 columns]

In [60]:
# get the ibani words truncated into the pos column and concatenate to the Ibani column
mask = ib_clean['Pos'].str.match(r"^\w*\w$")
ib_clean["Ibani"][mask] = ib_clean["Ibani"]+' '+ ib_clean["Pos"]

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [61]:
ib_clean[ib_clean['Pos'] == 'numó']

          Ibani   Pos                          Glossary
3744  wiri numó  numó  n.p. abusive songs

In [75]:
# replace wrong pos values with nill in pos column
X = ['pron.', 'excl.', 'n.', 'a.','v.','dem.', 'adv.', 'n.pl.','num.',
     'v.cs.','intro.', 'v.t.','v.reci','v.p.', 'p.n.','v.i.','v./n.',
     'v./n.', 'v.a.', 'a./ad', 'v.aux', 'n.p.', 'part.', 'neg.', 'conj.','pp.','1.conj.', '2.intro.']
ib_clean.loc[~ib_clean.Pos.isin(X), 'Pos'] = 'nill'

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [76]:
ib_clean.Pos.unique()

array(['pron.', 'excl.', 'n.', 'nill', 'a.', 'v.', 'dem.', 'adv.',
       'n.pl.', 'num.', 'v.cs.', 'intro.', 'v.t.', 'v.reci', 'v.p.',
       'p.n.', 'v.i.', 'v./n.', 'v.a.', 'a./ad', 'v.aux', 'n.p.', 'part.',
       'neg.', 'conj.', 'pp.', '1.conj.', '2.intro.'], dtype=object)

In [77]:
ib_clean.head()

  Ibani    Pos                                           Glossary
1     a  pron.                                  I
2     á  pron.                                 her
3    áa  excl.      exclamation of desire or surprise
4   aba     n.                         forked stick
5   aba     n.   hammer-headed shark (Sphyrna spp. SPHYRNIDAE)...

In [78]:
# rename columns
ib_clean.rename(columns = {'Glossary':'Meaning'}, inplace = True)
ib_clean.head()

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Ibani    Pos                                            Meaning
1     a  pron.                                  I
2     á  pron.                                 her
3    áa  excl.      exclamation of desire or surprise
4   aba     n.                         forked stick
5   aba     n.   hammer-headed shark (Sphyrna spp. SPHYRNIDAE)...

In [85]:
def save_data(df):
    '''saves dataframe to sql databases
    input
    
    df: cleaned dataframe    
    '''
    engine = create_engine('sqlite:///IbaniDictionary.db')
    df.to_sql('Ibani', engine, index=False, if_exists='replace')

In [89]:
#save dataframe to sql
save_data(ib_clean)
#save dataframe to json
Ibani = ib_clean.to_json('IbaniDictionary.json',orient="index")